/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 0px 0;
  text-align: center;
}

.logo img {
  max-width: 150px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #3498db;
}

main {
  padding-top: 80px;
  text-align: center;
}

.hero {
  padding: 100px 0;
  background-color: #3498db;
  color: #ffffff;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3498db;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #2ecc71;
  color: #ffffff;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.feature {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  margin: 0 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ハンバーガーメニュー */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

/* メニューの初期状態 */
.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  color: #3498db;
}

/* メニューを表示するスタイル */
.menu.active {
  display: block;
  flex-direction: column; /* メニューを縦に並べる */
}


footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
